<mat-toolbar color="primary">
    <span [routerLink]="['/']" >PlatziOverflow</span>
    <span class="space"></span>

    <button *ngIf="!isLoggedIn()" [routerLink]="['signin']" mat-icon-button>
        <mat-icon>account_circle</mat-icon>
    </button>
    <div *ngIf="isLoggedIn()">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

            <button mat-menu-item disabled>
                {{ fullName() }}
            </button>
            <button mat-menu-item (click)="logout()">
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </div>
    
</mat-toolbar>

<router-outlet></router-outlet>